<div class="container">
    <div class="jumbotron">
        <h1>Welcome to StudentBASE!</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Nam quo porro, magni totam pariatur vel architecto, illum 
            aliquam saepe nulla a voluptatibus tempora quae quidem id 
            rem sapiente commodi delectus.tempora quae quidem id  quae
            Nam quo porro, magni totam pariatur vel architecto, illum 
            Nam quo porro, magni totam pariatur vel architecto, illum 
            Nam quo porro, magni totam pariatur vel architecto, illum 
        </p>
        <button class="btn btn-lg btn-success" ui-sref="students">List Students</button>
    </div>
</div>